body {
    background-color: #ccc;
    font:11px "Times New Roman";
    margin:0;
}

#main_area > DIV {
    float: left;
}

#image_area {
}

#image_area IMG {
    width: 361px;
    height: 475px;
}

#register #form {
    width:300px;
    float:left;
    clear:both;
}

map area {
    border-color:#900;
}

#register #contact {
    width:300px;
    float:left;
    clear:both;
}

#register #form #register_btn {
    background-image: url(../images/registerbutton.jpg);
    width:59px;
    height:19px;
    float:left;
    border:1px solid black;
    margin-left:201px;
    cursor:pointer;
}

.formfield {
    float:left;
    clear:right;
    width:200px;
    padding-bottom:4px;
}

.formfield INPUT[type="text"] {
    width:200px;
    border-color:#003;
    border-width:1px;
}

.formtitle {
    color:#003;
    font-family:"Times New Roman";
    float:left;
    text-align:left;
    clear:both;
    width:60px;
    padding-bottom:4px;
}


area {
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
    #main_area {
        background-color:#FFF;
        height:578px;
        max-width:800px;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        border:25px solid #003;
        padding:0 4px;
    }

    #event_info {
        margin:165px 0 0 102px;
        float:left;
    }

    #event_info #where_when {
        width: 305px;
        height: 100px;
        overflow:hidden;
        float:left;
    }

    #event_info #who {
        width: 305px;
        height: 100px;
        overflow:hidden;
        margin-top:122px;
        float:left;
    }

    #welcome {
        margin:175px 0 0 102px;
        width: 305px;
        height: 200px;
    }

    #register {
        margin:164px 0 0 100px;
        width: 205px;
        height: 145px;
    }
    #nav_area {
        width: 370px;
        height: 93px;
        float:left;
    }
    #about_area {
        width: 430px;
        height: 93px;
        clear: left;
        float:left;
        background-image:url(../images/AlbertGallatinAbout.jpg);
        background-size:100%;
    }
    #content_area {
        width: 435px;
        height: 475px;
        background-image:url(../images/AlbertGallatinContent.jpg);
        background-size: 100%;
        clear:right;
        margin-left:4px;
        background-color:#FFF;
        color: #003;
    }
}

@media only screen and (max-width: 767px) {
    /* phones */
    #main_area {
        background-color:#FFF;
    }
    #event_info {
        margin:160px 0 0 80px;
        width: 305px;
        height: 200px;
        overflow:scroll;
    }

    #welcome {
        margin:160px 0 0 80px;
        width: 305px;
        height: 200px;
        overflow:scroll;
    }

    #register {
        margin:200px 0 0 100px;
        width: 205px;
        height: 145px;
    }
    #nav_area {
        width: 341px;
        height: 105px;
        float:left;
        padding-left:0;
    }
    #about_area {
        width:361px;
        height:78px;
        clear: left;
        float:left;
        background-image:url(../images/AlbertGallatinAbout.jpg);
        background-size:100%;
    }
    #content_area {
        width: 361px;
        height: 394px;
        background-image:url(../images/AlbertGallatinContentEventInfoBkgd.jpg);
        background-size: 100%;
        clear:right;
        background-color:#FFF;
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
    #main_area {
        background-color:#FFF;
    }
    #event_info {
        margin:160px 0 0 80px;
        width: 305px;
        height: 200px;
        overflow:scroll;
    }

    #welcome {
        margin:160px 0 0 80px;
        width: 305px;
        height: 200px;
        overflow:scroll;
    }

    #register {
        margin:200px 0 0 100px;
        width: 205px;
        height: 145px;
    }
    #nav_area {
        width: 341px;
        height: 105px;
        float:left;
        padding-left:0;
    }
    #about_area {
        width:361px;
        height:93px;
        clear: left;
        float:left;
    }
    #about {
        width:361px;
        height:93px;
    }
    #content_area {
        width: 361px;
        height: 394px;
        background-image:url(../images/AlbertGallatinContentEventInfoBkgd.jpg);
        background-size: 100%;
        clear:right;
        background-color:#FFF;
        color: #003;
    }
}
